<section class="section section-advertisement">
  <div class="container">
    <div class="advertisement-container">
      <div class="container-advertisement-title">
        <h2 class="visually-hidden">Advertisement</h2>

        <p class="advertisement-text">
          Choose <span class="text-part">your story</span>, making every moment
          unique. Time is your style, and we reveal it.
        </p>

        <a class="advertisement-link" href="#Contact Us">Contact Us</a>
      </div>
    </div>
  </div>
</section>
