<section class="section" id="catalog">
  <div class="container">
    <h2 class="section-text-catalog">Catalog</h2>
    <ul class="section-list">
      <li class="section-list-item">
        <div class="section-images">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/desktop/fenix-desktop@1.png 1x,
                ./img/catalog/desktop/fenix-desktop@2.png 2x
              "
            />
            <source
              media="(max-width: 1279px)"
              srcset="
                ./img/catalog/tablet/fenix-tablet@1.png 1x,
                ./img/catalog/tablet/fenix-tablet@2.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/mobile/fenix-mobile@1.png 1x,
                ./img/catalog/mobile/fenix-mobile@2.png 2x
              "
            />
            <img
              class="section-img"
              src="./img/catalog/mobile/fenix-mobile@1.png"
              alt="clock-fenix"
              width="292"
              height="292"
            />
          </picture>
          <div class="section-title-text">
            <h3 class="section-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
            <p class="section-description">€500</p>
          </div>
        </div>
      </li>

      <li class="section-list-item">
        <div class="section-images">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/desktop/marq-desktop@1.png 1x,
                ./img/catalog/desktop/marq-desktop@2.png 2x
              "
            />
            <source
              media="(max-width: 1279px)"
              srcset="
                ./img/catalog/tablet/marq-tablet@1.png 1x,
                ./img/catalog/tablet/marq-tablet@2.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/mobile/marq-mobile@1.png 1x,
                ./img/catalog/mobile/marq-mobile@2.png 2x
              "
            />
            <img
              class="section-img"
              src="./img/catalog/mobile/marq-mobile@1.png"
              alt="clock-marq"
              width="292"
              height="292"
            />
          </picture>
          <div class="section-title-text">
            <h3 class="section-title">Garmin Marq Athlete</h3>
            <p class="section-description">€450</p>
          </div>
        </div>
      </li>

      <li class="section-list-item">
        <div class="section-images">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/desktop/descent-desktop@1.png 1x,
                ./img/catalog/desktop/descent-desktop@2.png 2x
              "
            />
            <source
              media="(max-width: 1279px)"
              srcset="
                ./img/catalog/tablet/descent-tablet@1.png 1x,
                ./img/catalog/tablet/descent-tablet@2.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/mobile/descent-mobile@1.png 1x,
                ./img/catalog/mobile/descent-mobile@2.png 2x
              "
            />
            <img
              class="section-img"
              src="./img/catalog/mobile/descent-mobile@1.png"
              alt="clock-descent"
              width="292"
              height="292"
            />
          </picture>
          <div class="section-title-text">
            <h3 class="section-title">Garmin Descent MK1</h3>
            <p class="section-description">€680</p>
          </div>
        </div>
      </li>

      <li class="section-list-item">
        <div class="section-images">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/desktop/delta-desktop@1.png 1x,
                ./img/catalog/desktop/delta-desktop@2.png 2x
              "
            />
            <source
              media="(max-width: 1279px)"
              srcset="
                ./img/catalog/tablet/delta-tablet@1.png 1x,
                ./img/catalog/tablet/delta-tablet@2.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/mobile/delta-mobile@1.png 1x,
                ./img/catalog/mobile/delta-mobile@2.png 2x
              "
            />
            <img
              class="section-img"
              src="./img/catalog/mobile/delta-mobile@1.png"
              alt="clock-delta"
              width="292"
              height="292"
            />
          </picture>
          <div class="section-title-text">
            <h3 class="section-title">Garmin D2 Delta PX</h3>
            <p class="section-description">€380</p>
          </div>
        </div>
      </li>

      <li class="section-list-item section-now">
        <div class="section-images">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/desktop/solar-desktop@1.png 1x,
                ./img/catalog/desktop/solar-desktop@2.png 2x
              "
            />
            <source
              media="(max-width: 1279px)"
              srcset="
                ./img/catalog/tablet/solar-tablet@1.png 1x,
                ./img/catalog/tablet/solar-tablet@2.png 2x
              "
            />
            <img
              class="section-img"
              src="./img/catalog/desktop/solar-desktop@1.png"
              alt="clock-solar"
              width="292"
              height="292"
            />
          </picture>
          <div class="section-title-text">
            <h3 class="section-title">Garmin Fenix 6 Pro Solar</h3>
            <p class="section-description">€480</p>
          </div>
        </div>
      </li>

      <li class="section-list-item section-now">
        <div class="section-images">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/desktop/tube-desktop@1.png 1x,
                ./img/catalog/desktop/tube-desktop@2.png 2x
              "
            />
            <source
              media="(max-width: 1279px)"
              srcset="
                ./img/catalog/tablet/tube-tablet@1.png 1x,
                ./img/catalog/tablet/tube-tablet@2.png 2x
              "
            />
            <img
              class="section-img"
              src="./img/catalog/desktop/tube-desktop@1.png"
              alt="clock-fenix"
              width="292"
              height="292"
            />
          </picture>
          <div class="section-title-text">
            <h3 class="section-title">Tube Watch S42 Date Steel With...</h3>
            <p class="section-description">€395</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
