<section class="section" id="catalog">
  <div class="container">
    <h2 class="section-text-catalog">Catalog</h2>
    <ul class="section-list">
      <li class="section-list-item">
        <div class="section-images">
          <img
            class="section-img"
            src="../img/catalog/desktop/fenix-desktop@1.png"
            alt="clock-fenix"
            width="292"
            height="292"
          />
          <div class="section-title-text">
            <h3 class="section-title">Garmin Fenix 7X Pro Sapphire Solar...</h3>
            <p class="section-description">€500</p>
          </div>
        </div>
      </li>

      <li class="section-list-item">
        <div class="section-images">
          <img
            class="section-img"
            src="../img/catalog/desktop/marq-desktop@1.png"
            alt="clock-marq"
            width="292"
            height="292"
          />
          <div class="section-title-text">
            <h3 class="section-title">Garmin Marq Athlete</h3>
            <p class="section-description">€450</p>
          </div>
        </div>
      </li>

      <li class="section-list-item">
        <div class="section-images">
          <img
            class="section-img"
            src="../img/catalog/desktop/descent-desktop@1.png"
            alt="clock-descent"
            width="292"
            height="292"
          />
          <div class="section-title-text">
            <h3 class="section-title">Garmin Descent MK1</h3>
            <p class="section-description">€680</p>
          </div>
        </div>
      </li>

      <li class="section-list-item">
        <div class="section-images">
          <img
            class="section-img"
            src="../img/catalog/desktop/delta-desktop@1.png"
            alt="clock-delta"
            width="292"
            height="292"
          />
          <div class="section-title-text">
            <h3 class="section-title">Garmin D2 Delta PX</h3>
            <p class="section-description">€380</p>
          </div>
        </div>
      </li>

      <li class="section-list-item">
        <div class="section-images">
          <img
            class="section-img"
            src="../img/catalog/desktop/solar-desktop@1.png"
            alt="clock-solar"
            width="292"
            height="292"
          />
          <div class="section-title-text">
            <h3 class="section-title">Garmin Fenix 6 Pro Solar</h3>
            <p class="section-description">€480</p>
          </div>
        </div>
      </li>

      <li class="section-list-item">
        <div class="section-images">
          <img
            class="section-img"
            src="../img/catalog/desktop/fenix-desktop@1.png"
            alt="clock-fenix"
            width="292"
            height="292"
          />
          <div class="section-title-text">
            <h3 class="section-title">
              Tube Watch S42 Date Steel With Black Case...
            </h3>
            <p class="section-description">€395</p>
          </div>
        </div>
      </li>
    </ul>
    <div>
      <p>
        Choose your story, making every moment unique. Time is your style, and
        we reveal it.
      </p>
      <button class="section-open-btn" type="button">Contact Us</button>
    </div>
  </div>
</section>

