<section class="footer">
  <div class="container">
   <div class="div-content">
    <div class="logo-social-info">
      <!-- Перелік посилань на соц. мережі компанії -->
        <div class="social-link-div">
            <!-- Лого компании -->
                <p class="logo">watchcharm</p>
            <ul class="social-link-ul">
                <li class="social-link-li"> <a href="https://www.facebook.com/goITclub/" target="_blank"><svg class="social-icon"><use xlink:href="../img/icons.svg#icon-facebook"></use></svg></a></li>
                <li class="social-link-li"> <a href="https://www.instagram.com/goitclub/" target="_blank"><svg class="social-icon"><use xlink:href="../img/icons.svg#icon-instagram"></use></svg></a></li>
                <li class="social-link-li"> <a href="https://www.youtube.com/c/GoIT" target="_blank"><svg class="social-icon"><use xlink:href="../img/icons.svg#icon-youtube"></use></svg></a></li>
            </ul>
        </div>
      
      <!-- Слоган компанії -->
      <p class="text-in-p">Have the time of your life with our watches: where high-class craftsmanship meets impeccable design</p>

      <!-- Контакти компанії -->
      <address class="address-phone"><li><a class="tel-phone" href="+380684439426">+380 (68) 443-94-26</a></li></address>
      
    </div>

    <div class="click-menu">
      <div class="div-click-link">
            <!-- Перелік якірних посилань по сайту -->
            <ul class="ul-click-link">
                <li class="li-click-link"><a href="#home">Home</a></li>
                <li class="li-click-link"><a href="#about-us">About Us</a></li>
                <li class="li-click-link"><a href="#catalog">Catalog</a></li>
                <li class="li-click-link"><a href="#sale">Sale</a></li>
                <li class="li-click-link"><a href="#reviews">Reviews</a></li>
                <li class="li-click-link"><a href="#contact-us">Contact Us</a></li>
                </ul>
      
                <p class="text-info">1678 S. Pioneer Road Salt Lake City UT 84104</p>
        </div>
            <div class="">
            <!-- Авторскі права -->
                        <p class="text=info-p">©2023 The Watch Spot. All rights reserved.</p>

            <!-- Посилання на умови користування і політику конфіденційності -->
                    <ul class="">
                        <li class=""><a class="" href="terms_of_service.html">Terms of Service</a></li>
                        <li class=""><a class="" href="privacy_policy.html">Privacy Policy</a></li>
                    </ul>
            </div>
  </div>
</div>
</section>