<section class="footer">
  <div class="container">
      <!-- Лого компании -->
      <p>watchcharm</p>
      
      <!-- Перелік посилань на соц. мережі компанії -->
      <ul>
          <li><a href="https://www.facebook.com/GoIT" target="_blank"><svg class="social-icon"><use xlink:href="../img/icons.svg#icon-facebook"></use></svg>Facebook</a></li>
          <li><a href="https://www.twitter.com/GoIT" target="_blank"><svg class="social-icon"><use xlink:href="../img/icons.svg#icon-instagram"></use></svg>Instagram</a></li>
          <li><a href="https://www.instagram.com/GoIT" target="_blank"><svg class="social-icon"><use xlink:href="../img/icons.svg#icon-youtube"></use></svg></a>Youtube</li>
      </ul>
      
      <!-- Слоган компанії -->
      <p>Have the time of your life with our watches: where high-class craftsmanship meets impeccable design</p>
      
      <!-- Перелік якірних посилань по сайту -->
      <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#catalog">Catalog</a></li>
          <li><a href="#sale">Sale</a></li>
          <li><a href="#reviews">Reviews</a></li>
          <li><a href="#contact">Contact Us</a></li>
      </ul>
      
      <!-- Контакти компанії -->
      <p>+380 (68) 443-94-26</p>
      <p>1678 S. Pioneer Road Salt Lake City UT 84104</p>
  </div>
  <!-- Авторскі права -->
  <p>©2023 The Watch Spot. All rights reserved.</p>
  <!-- Посилання на умови користування і політику конфіденційності -->
  <ul>
      <li><a href="terms_of_service.html">Terms of Service</a></li>
      <li><a href="privacy_policy.html">Privacy Policy</a></li>
  </ul>
</section>