<header class="header">
  <div class="container">
    <div class="header-container-wrapper">
      <p class="header-logo">watchcharm</p>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-list-item">
            <div class="link-wrapper current">
              <a href="#hero" class="header-nav-list-link">Home</a>
            </div>
          </li>
          <li class="header-nav-list-item">
            <div class="link-wrapper">
              <a href="#about-us" class="header-nav-list-link">About Us</a>
            </div>
          </li>
          <li class="header-nav-list-item">
            <div class="link-wrapper">
              <a href="#catalog" class="header-nav-list-link">Catalog</a>
            </div>
          </li>
          <li class="header-nav-list-item">
            <div class="link-wrapper">
              <a href="#sale" class="header-nav-list-link">Sale</a>
            </div>
          </li>
          <li class="header-nav-list-item">
            <div class="link-wrap">
              <a href="#reviews" class="header-nav-list-link">Reviews</a>
            </div>
          </li>
          <li class="header-nav-list-item">
            <div class="link-wrapper">
              <a href="#contact-us" class="header-nav-list-link">
                Contact Us
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="header-contacts-wrapper">
        <ul class="header-contacts-list">
          <li class="header-contacts-list-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="header-contacts-list-link"
            >
              <svg class="header-contacts-list-icon">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="header-contacts-list-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="header-contacts-list-link"
            >
              <svg class="header-contacts-list-icon">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header-contacts-list-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="header-contacts-list-link"
            >
              <svg class="header-contacts-list-icon">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <button class="header-menu-button" type="button">
        <svg class="header-menu-icon" aria-label="Menu icon">
          <use href="./img/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
