<section id="hero" class="section">
  <div class="container container-hero">
    <div class="hero-content">
      <div class="hero-title-description">
        <h1 class="hero-title">
          Welcome to our
          <span class="hero-title-span">collection</span> of premium watches
        </h1>
        <p class="hero-description">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-images-buyer-link">
        <div class="hero-images-buyer">
          <picture class="picture-buyer1">
            <source
              srcset="
                ./img/hero_img/image_first_desktop.jpg    1x,
                ./img/hero_img/image_first_desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/hero_img/image_first_tablet.jpg    1x,
                ./img/hero_img/image_first_tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/hero_img/image_first_mobile.jpg    1x,
                ./img/hero_img/image_first_mobile@2x.jpg 2x
              "
              media="(min-width: 320px) and (max-width: 767px)"
            />
            <img
              class="image-buyer"
              src="./img/hero_img/image_first_mobile.jpg"
              alt="Photo of the buyer"
            />
          </picture>
          <picture class="picture-buyer2">
            <source
              srcset="
                ./img/hero_img/image_second_desktop.jpg    1x,
                ./img/hero_img/image_second_desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/hero_img/image_second_tablet.jpg    1x,
                ./img/hero_img/image_second_tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/hero_img/image_second_mobile.jpg    1x,
                ./img/hero_img/image_second_mobile@2x.jpg 2x
              "
              media="(min-width: 320px) and (max-width: 767px)"
            />
            <img
              class="image-buyer"
              src="./img/hero_img/image_second_mobile.jpg"
              alt="Photo of the buyer"
            />
          </picture>
          <picture class="picture-buyer3">
            <source
              srcset="
                ./img/hero_img/image_third_desktop.jpg    1x,
                ./img/hero_img/image_third_desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/hero_img/image_third_tablet.jpg    1x,
                ./img/hero_img/image_third_tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/hero_img/image_third_mobile.jpg    1x,
                ./img/hero_img/image_third_mobile@2x.jpg 2x
              "
              media="(min-width: 320px) and (max-width: 767px)"
            />
            <img
              class="image-buyer"
              src="./img/hero_img/image_third_mobile.jpg"
              alt="Photo of the buyer"
            />
          </picture>
        </div>
        <a href="#about-us" class="scroll-down">Scroll down</a>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./img/hero_img/wristwatch_desktop.jpg    1x,
          ./img/hero_img/wristwatch_desktop@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/hero_img/wristwatch_tablet.jpg    1x,
          ./img/hero_img/wristwatch_tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/hero_img/wristwatch_mobile.jpg    1x,
          ./img/hero_img/wristwatch_mobile@2x.jpg 2x
        "
        media="(min-width: 320px) and (max-width: 767px)"
      />
      <img
        class="hero-image"
        src="./img/hero_img/wristwatch_mobile.jpg"
        alt="Premium wrist watch"
      />
    </picture>
  </div>
</section>
