<div class="mobile-menu-wrapper">
  <div class="mobile-menu-flex">
    <button class="menu-exit-button" type="button">
      <svg class="menu-exit-icon" aria-label="Exit button icon">
        <use href="./img/icons.svg#icon-exit"></use>
      </svg>
    </button>
    <ul class="menu-nav-list">
      <li class="menu-nav-list-item">
        <div class="link-wrapper current">
          <a href="#hero" class="menu-nav-list-link">Home</a>
        </div>
      </li>
      <li class="menu-nav-list-item">
        <div class="link-wrapper">
          <a href="#about-us" class="menu-nav-list-link">About Us</a>
        </div>
      </li>
      <li class="menu-nav-list-item">
        <div class="link-wrapper">
          <a href="#catalog" class="menu-nav-list-link">Catalog</a>
        </div>
      </li>
      <li class="menu-nav-list-item">
        <div class="link-wrapper">
          <a href="#sale" class="menu-nav-list-link">Sale</a>
        </div>
      </li>
      <li class="menu-nav-list-item">
        <div class="link-wrapper">
          <a href="#reviews" class="menu-nav-list-link">Reviews</a>
        </div>
      </li>
      <li class="menu-nav-list-item">
        <div class="link-wrapper">
          <a href="#contact-us" class="menu-nav-list-link">Contact Us</a>
        </div>
      </li>
    </ul>
    <ul class="menu-contacts-list">
      <li class="menu-contacts-list-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="menu-contacts-list-link"
        >
          <svg class="menu-contacts-list-icon">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="menu-contacts-list-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="menu-contacts-list-link"
        >
          <svg class="menu-contacts-list-icon">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="menu-contacts-list-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="menu-contacts-list-link"
        >
          <svg class="menu-contacts-list-icon">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
