<section class="section sale">
  <div class="sale_wrapper">
    <div class="container">
      <div class="title__block sale__title">Sale</div>
      <div class="sale__flex">
        <div class="sale__slider">
          <div class="swiper mySwiper2">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="./img/sale-main.png, ./img/sale-main@2x.png 2x"
                    type="image/png"
                  />
                  <img src="./img/sale-main.png" alt="Sale Main Image" />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="./img/sale1.png, ./img/sale1@2x.png 2x"
                    type="image/png"
                  />
                  <img src="./img/sale1.png" alt="Sale Main Image" />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="./img/sale2.png, ./img/sale2@2x.png 2x"
                    type="image/png"
                  />
                  <img src="./img/sale2.png" alt="Sale Main Image" />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="./img/sale3.png, ./img/sale3@2x.png 2x"
                    type="image/png"
                  />
                  <img src="./img/sale3.png" alt="Sale Main Image" />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="./img/sale4.png, ./img/sale4@2x.png 2x"
                    type="image/png"
                  />
                  <img src="./img/sale4.png" alt="Sale Main Image" />
                </picture>
              </div>
            </div>
          </div>
          <div thumbsSlider="" class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="./img/sale-main.png, ./img/sale-main@2x.png 2x"
                    type="image/png"
                  />
                  <img src="./img/sale-main.png" alt="Sale Main Image" />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="./img/sale1.png, ./img/sale1@2x.png 2x"
                    type="image/png"
                  />
                  <img src="./img/sale1.png" alt="Sale Main Image" />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="./img/sale2.png, ./img/sale2@2x.png 2x"
                    type="image/png"
                  />
                  <img src="./img/sale2.png" alt="Sale Main Image" />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="./img/sale3.png, ./img/sale3@2x.png 2x"
                    type="image/png"
                  />
                  <img src="./img/sale3.png" alt="Sale Main Image" />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="./img/sale4.png, ./img/sale4@2x.png 2x"
                    type="image/png"
                  />
                  <img src="./img/sale4.png" alt="Sale Main Image" />
                </picture>
              </div>
            </div>
          </div>
        </div>
        <div class="sale__info">
          <div class="sale__info-title">
            MARQ® Commander (Gen 2) - Carbon Edition
          </div>
          <div class="sale__info-number">Product tag: <span>706587</span></div>
          <div class="sale__prices">
            <div class="sale__price-new">€1500</div>
            <div class="sale__price-old">€3000</div>
          </div>
          <div class="sale__info-about">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
            smartwatch for adventurers that takes materials and features to the
            next level. The body of the watch is made of very durable Fused
            Carbon Fiber material and has a precise AMOLED touch screen. The
            sensitive touch screen is complemented by buttons that can be used
            in any conditions.
          </div>
          <ul class="sale__info-flex">
            <li class="sale__info-tag">
              <a href="#"> Fused carbon fiber </a>
            </li>
            <li class="sale__info-tag">
              <a href="#"> Grade-5 Titanuim </a>
            </li>
            <li class="sale__info-tag">
              <a href="#"> Athlete </a>
            </li>
            <li class="sale__info-tag">
              <a href="#"> Golfer </a>
            </li>
            <li class="sale__info-tag">
              <a href="#"> Commander </a>
            </li>
            <li class="sale__info-tag">
              <a href="#"> Adventurer </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
