.section-text-catalog {
  font-weight: 600;
  font-size: 48px;
  line-height: 92%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin: 0px 0px 40px;
}
.section-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  justify-content: space-between;
  margin-bottom: 100px;
}
.section-list-item {
  width: 368px;
  border-radius: 30px;
  background: #f3f3f3;
}
.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin: 0px 0px 8px;
}
.section-images {
  margin: 24px 32px;
}
.section-img {
  padding: 6px 6px 14px;
}
.section-title-text {
  padding: 10px 32px 24px;
}
