.section-text-catalog {
  font-weight: 600;
  font-size: 48px;
  line-height: 92%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin: 0px 0px 40px;
}
.section-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  justify-content: space-between;
  margin-bottom: 100px;
}
.section-list-item {
  width: 368px;
  border-radius: 30px;
  background: #f3f3f3;
}
.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin: 0px 0px 8px;
}
.section-images {
  margin: 24px 32px;
}
.section-img {
  padding: 6px 6px 14px;
}
.section-title-text {
  padding: 10px 32px 24px;
}
.section-text {
  display: flex;
  border-radius: 30px;
  height: 298px;
  background-color: black;
  background-image: url(../img/catalog/desktop/bg-desktop@1.png);
}
@media screen and (min-resolution: 192dpi) {
  .section-text {
    background-color: black;
    background-image: url(../img/catalog/desktop/bg-desktop@2.png);
  }
}
.section-text-dscr {
  font-weight: 600;
  font-size: 48px;
  line-height: 92%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin: 83px 0px 83px 80px;
  width: 690px;
}
.text-color {
  color: rgba(251, 251, 251, 0.5);
}
.section-open-btn {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fbfbfb;
  border: solid rgb(54 54 60);
  border-radius: 15px;
  background-color: transparent;
  min-width: 160px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 80px 80px 170px 140px;
}
.section-open-btn:hover,
.section-open-btn:focus {
  background-color: #fff;
  color: black;
}
