.contact-form {
    border-radius: 30px;
    padding: 48px 28px;
    background: #f3f3f3;
    margin-bottom: 20px;
}

.contact-form-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 28px;
}

.contact-form-input-container {
    display: flex;
    gap: 18px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 28px;
}

.contact-form-input {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 14px 12px;
    width: 100%;
    height: 42px;
    font-size: 14px;
    line-height: 1.28;
    color: #0c0c0c;
    transition: border 400ms ease-in-out, outline 400ms ease-in-out;
}

.contact-form-input:focus {
    border: 1px solid #3350e9;
    outline: none;
}

.contact-form-input::placeholder,
.contact-form-textarea::placeholder {
    font-size: 14px;
    line-height: 1.28;
    color: #0c0c0c;
}

.contact-form-textarea {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 14px;
    width: 100%;
    height: 84px;
    resize: none;
    transition: border 400ms ease-in-out, outline 400ms ease-in-out;
}

.contact-form-textarea:focus {
    border: 1px solid #3350e9;
    outline: none;
}

.contact-form-btn {
    border: none;
    border-radius: 16px;
    padding: 12px 50px;
    min-width: 134px;
    height: 42px;
    background-color: #3350e9;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    color: #fbfbfb;
    transition: background-color 400ms ease-in-out;
}

.contact-form-btn:hover,
.contact-form-btn:focus {
    background-color: #1f3cd4;
}

.contact-us-image {
    border-radius: 30px;
}

@media only screen and (min-width:768px) {
    .contact-form {
        border-radius: 50px;
        padding: 50px 122px;
        margin-bottom: 40px;
    }

    .contact-form-text {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 32px;
    }

    .contact-form-input-container {
        margin-bottom: 32px;
    }

    .contact-form-input {
        padding: 16px 18px;
        height: 52px;
        font-size: 16px;
        line-height: 1.25;
    }

    .contact-form-input::placeholder,
    .contact-form-textarea::placeholder {
        font-size: 16px;
        line-height: 1.25;
    }

    .contact-form-textarea {
        padding: 16px;
        height: 90px;
    }

    .contact-form-btn {
        padding: 17px 63px;
        min-width: 160px;
        height: 52px;
    }

    .contact-us-image {
        border-radius: 50px;
    }
}

@media only screen and (min-width:1280px) {
    .contact-us-content-container {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .contact-form {
        width: 580px;
        height: 556px;
        margin-bottom: 0;
        padding-left: 60px;
        padding-right: 60px;
    }
}