/* Color variables */
:root {
  --p-text: rgba(12, 12, 12, 0.7); /*Колір тексту в більшості параграфів*/
  --light-text: rgba(251, 251, 251, 0.5);
  --bg-color: rgba(12, 12, 12, 0.92); /* Колір фонів*/
  --h-text: #0c0c0c; /*Колір більшості заголовків*/
  --white-text: #fbfbfb; /*Колір тексту на темному фоні та фону сторінки*/
  --interactive: #3350e9; /*Колір більшості інтекрактивних елементів*/
  --interactive-hover: #1f3cd4; /*Колір активного стану інтерактивних елементів*/
  --gray: #f3f3f3;
}
/* 
Формат використання:
color: var(--white-text);
*/

body {
  font-family: 'Gilroy', sans-serif;
  color: var(--p-text);
  background-color: var(--white-text);
}

/* General mobile styles */
.container {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 375px) {
  .container {
    min-width: 320px;
  }
  .title__block {
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
  }
}

.section {
  padding: 30px 0;
}

/* General tablet styles */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }

  .section {
    padding: 40px 0;
  }
  .title__block {
    font-size: 48px;
    line-height: 0.91667;
    letter-spacing: -0.02em;
  }
}

/* General desktop styles */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 65px;
    padding-left: 65px;
  }

  .section {
    padding: 50px 0;
  }
}

.title__block {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: var(--h-text);
}
