/* Color variables */
:root {
  --p-text: rgba(12, 12, 12, 0.7); /*Колір тексту в більшості параграфів*/
  --light-text: rgba(251, 251, 251, 0.5);
  --bg-color: rgba(12, 12, 12, 0.92); /* Колір фонів*/
  --h-text: #0c0c0c; /*Колір більшості заголовків*/
  --white-text: #fbfbfb; /*Колір тексту на темному фоні та фону сторінки*/
  --interactive: #3350e9; /*Колір більшості інтекрактивних елементів*/
  --interactive-hover: #1f3cd4; /*Колір активного стану інтерактивних елементів*/
  --gray: #f3f3f3; /*Колір сіро-білий для тексту*/
  --reviews: rgba(12, 12, 12, 0.4); /*для відгуків*/
  --border: rgba(251, 251, 251, 0.1); /*для рамок*/
  --header-border: rgba(12, 12, 12, 0.1);
}
/* 
Формат використання:
color: var(--white-text);
*/

body {
  font-family: 'Gilroy', sans-serif;
  color: var(--p-text);
  background-color: var(--white-text);
}

/* General mobile styles */
.container {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
}

@media screen and (max-width: 375px) {
  .container {
    min-width: 320px;
  }
}

.title__block {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--h-text);
}

.section {
  padding-bottom: 60px;
}

/* General tablet styles */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }

  .section {
    padding-bottom: 80px;
  }
  .title__block {
    font-size: 48px;
    line-height: 0.91667;
  }
}

/* General desktop styles */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 65px;
    padding-left: 65px;
  }

  .section {
    padding-bottom: 100px;
  }
}

.current {
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  background-color: transparent;
  transform: translateX(-50%);
  transition: background-color 0.4s ease-in-out, padding-bottom 0.4s ease-in-out;
}
