/* mobile header styles */
.header {
  border-bottom: 1px solid var(--header-border);
  padding: 20px 0;
}

.header-container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--h-text);
}

.header-nav {
  display: none;
}

.header-contacts-wrapper {
  display: none;
}

.header-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  stroke: var(--h-text);
  transition: stroke 0.4s ease-in-out;
}

.header-menu-button:hover,
.header-menu-button:focus {
  stroke: var(--interactive);
}

.header-menu-icon {
  width: 34px;
  height: 34px;
}

/* tablet header styles */
@media screen and (min-width: 768px) {
  .header {
    padding: 26px 0;
  }

  .header-logo {
    font-size: 20px;
  }

  .header-menu-icon {
    width: 40px;
    height: 40px;
  }

  @media screen and (max-width: 1279px) {
    .tablet-container {
      max-width: 1279px;
    }
  }
}

/* desktop header styles */
@media screen and (min-width: 1280px) {
  .header-nav,
  .header-contacts-wrapper {
    display: block;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
  }

  .header-nav-list-item {
    height: 28px;
  }

  .header-nav-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    display: block;
    padding-bottom: 10px;
  }

  .current:hover::after,
  .current:focus::after {
    background-color: var(--interactive);
  }

  .header-contacts-list {
    display: flex;
    gap: 10px;
  }

  .header-contacts-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid var(--header-border);
    border-radius: 10px;
    padding: 8px;
  }

  .header-contacts-list-link {
    padding: 0;
    line-height: 0;
  }

  .header-contacts-list-icon {
    fill: var(--h-text);
    opacity: 0.8;
    width: 20px;
    height: 20px;
    transition: fill 0.4s ease-in-out;
  }

  .header-contacts-list-link:hover .header-contacts-list-icon,
  .header-contacts-list-link:focus .header-contacts-list-icon {
    fill: var(--interactive);
  }
  .header-menu-button {
    display: none;
  }
}
