.container-hero {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 28px;
  padding-top: 60px;
}

.hero-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 28px;
}

.hero-title-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.hero-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.hero-title-span {
  color: #3350e9;
}

.hero-description {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.hero-images-buyer-link {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.hero-images-buyer {
  position: relative;
  height: 44px;
  width: 108px;
}

.picture-buyer1 {
  position: absolute;
  top: 0;
  left: 0;
}

.picture-buyer2 {
  position: absolute;
  top: 0;
  left: 32px;
}

.picture-buyer3 {
  position: absolute;
  top: 0;
  left: 64px;
}

.image-buyer {
  border-radius: 50%;
  stroke-width: 2px;
  stroke: #fbfbfb;
  width: 44px;
  height: 44px;
}

.scroll-down {
  display: block;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  transition: color 400ms ease-in-out;
}

.scroll-down:hover,
.scroll-down:focus {
  color: #3350e9;
}

.hero-image {
  border-radius: 30px;
  width: 100%;
  max-height: 366px;
}

@media only screen and (min-width: 768px) {
  .container-hero {
    padding-top: 80px;
    gap: 40px;
  }

  .hero-content {
    flex-direction: row;
    gap: 11px;
  }

  .hero-title {
    font-size: 70px;
    line-height: 0.86;
  }

  .hero-description {
    font-size: 16px;
    line-height: 1.25;
    max-width: 480px;
  }

  .hero-images-buyer-link {
    flex-direction: column;
    justify-content: space-between;
    gap: 180px;
    max-width: 136px;
    height: 260px;
  }

  .hero-images-buyer {
    height: 56px;
    width: 100%;
  }

  .picture-buyer2 {
    left: 41px;
  }

  .picture-buyer3 {
    left: 80px;
  }

  .image-buyer {
    width: 56px;
    height: 56px;
  }

  .scroll-down {
    font-size: 20px;
    line-height: 1;
  }

  .hero-image {
    max-height: 520px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-content {
    gap: 407px;
  }

  .hero-title {
    font-size: 72px;
    line-height: 0.88;
  }

  .hero-images-buyer-link {
    gap: 189px;
    max-width: 146px;
    height: 269px;
  }

  /* .hero-images-buyer {
    height: 60px;
  } */

  .picture-buyer2 {
    left: 44px;
  }

  .picture-buyer3 {
    left: 86px;
  }

  .image-buyer {
    width: 60px;
    height: 60px;
  }

  /* .scroll-down {
    font-size: 20px;
    line-height: 1;
  } */

  .hero-image {
    max-height: 1150px;
  }
}
