.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  border: 1px solid rgba(12, 12, 12, 0.05);
  background-color: var(--gray);
}

.mySwiper2 {
  height: 100%;
  width: 428px;
}

.mySwiper2 .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.mySwiper2 .swiper-slide img {
  width: 328px;
  height: 398px;
}

.mySwiper {
  box-sizing: border-box;
  width: 132px;
  margin-left: 0;
  margin-right: 20px;
}

.mySwiper .swiper-slide {
  width: 100%;
  height: 132px;
  /* opacity: 0.4; */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySwiper .swiper-slide img {
  width: 96px;
  height: 100px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
}

.mySwiper .swiper-wrapper {
  flex-direction: column;
}

.sale__slider {
  width: 580px;
  height: 558px;
  display: flex;
  flex-direction: row-reverse;
}
.sale__title {
  margin-bottom: 40px;
}
.sale__flex {
  display: flex;
  justify-content: space-between;
}
.sale__info {
  border-radius: 50px;
  background-color: var(--interactive);
  width: 100%;
  max-width: 530px;
  padding: 60px;
}
.sale__info-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: -0.02em;
  color: var(--white-text);
  margin-bottom: 10px;
  width: 100%;
  max-width: 389px;
}
.sale__info-number {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: var(--light-text);
  margin-bottom: 20px;
}
.sale__prices {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.sale__price-new {
  background-color: rgba(251, 251, 251, 0.1);
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--white-text);
  margin-right: 9px;
  font-weight: 600;
}
.sale__price-old {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: var(--light-text);
}
.sale__price-old::before {
  content: '';
  display: block;
  height: 1px;
}
.sale__info-about {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 40px;
}
.sale__info-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.sale__info-tag {
  transition: all 0.4s ease-in-out;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
}
.sale__info-tag:hover {
  background-color: var(--interactive-hover);
  border-color: var(--interactive-hover);
}
.sale__info-tag a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--white-text);
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  display: block;
}
@media screen and (min-width: 1280px) {
}
@media screen and (max-width: 1280px) {
  .sale__flex {
    flex-direction: column;
  }

  .sale__slider {
    width: 100%;
    max-width: 704px;
    margin: 0 auto 40px;
    flex-direction: row-reverse;
  }
  .mySwiper2 {
    width: 552px;
  }
  .sale__info {
    margin: 0 auto;
    max-width: 704px;
  }
  .sale__info-title {
    max-width: 436px;
  }
}
@media screen and (max-width: 767px) {
  .sale__slider {
    flex-direction: column-reverse;
    width: 100%;
    height: 485px;
    margin-bottom: 20px;
  }
  .mySwiper .swiper-wrapper {
    flex-direction: row;
  }
  .mySwiper {
    width: 100%;
    height: 80px;
    margin: 0 0 20px;
  }
  .mySwiper .swiper-slide {
    height: 100% !important;
  }
  .sale__flex {
    flex-direction: column;
    width: 100%;
    max-width: 335px;
    margin: 0 auto 20px;
  }
  .mySwiper2 {
    width: 335px;
    height: 385px;
  }
  .mySwiper2 .swiper-slide img {
    width: 235px;
    height: 285px;
  }
  .mySwiper2 .swiper-slide {
    border-radius: 30px;
  }
  .mySwiper .swiper-slide {
    border-radius: 16px;
  }
  .mySwiper .swiper-slide img {
    width: 52px;
    height: 54px;
  }
  .sale__title {
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
  }
  .sale__info {
    padding: 48px 28px;
    border-radius: 30px;
  }
  .sale__info-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16667;
  }
  .sale__price-new {
    font-size: 16px;
    line-height: 1.25;
  }
  .sale__prices {
    margin-bottom: 28px;
  }
  .sale__info-about {
    font-size: 14px;
    line-height: 1.28571;
    margin-bottom: 28px;
  }
  .sale__info-tag a {
    font-size: 12px;
    line-height: 1.33333;
  }
}
@media screen and (max-width: 374px) {
  .mySwiper2 {
    width: 100%;
    height: 320px;
  }
  .sale__slider {
    height: 402px;
  }
  .sale__info-title {
    font-size: 22px;
  }
  .sale__info-tag a {
    font-size: 10px;
    padding: 7px 10px;
  }
  .sale__info-about {
    font-size: 12px;
  }
}
